
.container{
	max-width: 100%;
	margin: 0px auto;
	overflow: hidden;
	padding: 0px;
	background-color: white;
}
.container{
	max-width: 90%;
}
.header{
	border: 0px solid #dedede;
	padding: 0px;
	margin: 120px;
}

.header p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    color: #000000;
}

.container{
	max-width: 1080px;
	margin: 20px auto;
	overflow: hidden;
	padding: 10px;
	background-color: white;
}

.header{
	border: 0px solid #dedede;
	padding: 10px;
	margin: 10px;
}


/* Main */
	.left{
		width: 245px;
		border: 0px solid #dedede;
		background: #e5e5e5;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.left img{
			max-width: 100%;
			height: auto;
		}

	.left2{
		width: 245px;
		border: 0px solid #dedede;
		background: #e5e5e5;
		padding: 10px;
		margin: 10px;
		float: left;	
	}
		.left2 img{
			max-width: 100%;
			height: auto;
		}	

	.right{
		width: 245px;
		border: 0px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.right img{
			max-width: 100%;
			height: auto;
		}

	.right2{
		width: 245px;
		border: 0px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.right2 img{
			max-width: 100%;
			height: auto;
		}

	.left3{
		width: 192px;
		border: 0px solid #dedede;
		background: #e5e5e5;
		padding: 10px solid white;
		margin: 10px;
		float: left;*/
	}
		.left3 img{
			max-width: 100%;
			height: auto;
		}

.footer{
	clear: both;
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
}

@media screen and (max-width: 1080px) {
	
	.container {
		width: 100%;
	}
	
	.left {
		width: 25%;
		float: left;
	}

	.left2 {
		width: 25%;
		float: left;
	}

	.right {
		width: 25%;
		float: left;
	}

	.right2 {
		width: 25%;
		float: left;
	}

}

@media screen and (max-width: 780px) {
	
	.header, 
	.footer{
		text-align: center;
	}

	.left {
		width: auto;
		float: none;
	}
	
	.left2 {
		width: auto;
		float: none;
	}
	
	.right {
		width: auto;
		float: none;
	}

	.right2 {
		width: auto;
		float: none;
	}

}

body {margin:0;font-family:Arial}

.topnav2 {
    background-color: #D5200B;
    overflow: hidden;
}

.topnav2 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 13px;
}

.topnav2 a:hover {
    background-color: #ddd;
    color: black;
}

.topnav2 .icon2 {
    display: none;
}

/******************************************************************************************************/

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}


.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px; 
    margin-right: 16px;
    font-size: 17px;
}


@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 225px;
    color: white;
    text-align: center;
}
